@import '@/ui/vars-and-utils.scss';

.button_personal{
	flex: 1 1 auto;
	align-items: stretch;
	width: 100%;
	>button{
		height: 36px !important;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width:$media-screen) {
			width: 100%;
		}	
	}
}

.top{
	@apply flex   self-stretch justify-center overflow-hidden gap-[88px] px-[32px] py-[48px] rounded-[6px]  border border-solid border-[#e6e6e6];
	.input{
		justify-content: space-between;
		flex: 1 1 calc(50% - 12px);
	}
	>div{
		max-width: 404px;
	}

	@media (max-width:1000px) {
		>div{
			align-self: center;
			width: 100%;
			max-width: 100%;
		}
		flex-direction: column;
		padding: 0;
		border: none;
		align-items: center;
		gap: 24px;
		>div:first-child{
			@apply p-[16px] rounded-[6px] border border-solid border-[#e6e6e6];
			.button_personal{
				width: 100%;
			}
		}
	}
}

.ul{
	@apply text-[12px] pl-[16px];

	list-style-type: disc !important;

	li{
		list-style: disc;
	}
}

.breadcrumb{
	display: none;
	@media (max-width:$media_laptop) {
		display: block;
	}
	ol{
		justify-content: start;
	}
	li{
		font-size: 12px;
	}
}

.input{
	@apply flex flex-col self-stretch flex-grow gap-[16px];
	flex: 0 0 auto;
	input{
		text-align: center;
	}
}

.copy{
	@apply flex w-full items-center rounded-[6px] overflow-hidden;
	border: 1px solid #cecece;
	flex: 0 0 auto;
	p{
		word-break: break-all;
	}
}

.list_counter{
	@apply text-[12px] pl-[16px];
	counter-reset: list-counter;
	li{
		counter-increment: list-counter;
		position: relative;
	}
	li::before {
		content: counter(list-counter) ". "; 
		position: absolute;
		top: 0;
		right: 100%;
		margin-right: 5px;
	}
}


.wallets{
	@apply flex justify-center flex-col items-center self-stretch overflow-hidden gap-[24px] p-[24px] rounded-[6px] border border-solid border-[#e6e6e6];

	.input{
		flex: 1 1 auto;
		flex-basis: calc(33.33% - 16px);
	}
	@media (max-width:$media-screen) {
		padding: 16px;
		gap: 16px;
	}
}

.bottom{
	@apply flex justify-center flex-col items-center self-stretch overflow-hidden gap-[40px] p-[24px] rounded-[6px]  border border-solid border-[#e6e6e6];

	.input{
		flex: 1 1 auto;
		flex-basis: calc(33.33% - 16px);
	}
	@media (max-width:$media-screen) {
		gap: 24px;
		padding: 16px;
		.button_personal{
			width: fit-content !important;
			>button{
				width: fit-content !important;
			}
		}
	}
}


.list_switch{
	@apply flex  items-center self-stretch flex-wrap justify-between gap-[24px];
	
	.switch{
		@apply flex flex-col justify-center items-center self-stretch gap-[24px];
		flex: 1 1 auto;
		flex-basis: calc(33.33% - 16px);
		gap: 16px;
	}
	@media (max-width:$media-screen) {
		flex-direction: column;
		justify-content: center;
		gap: 24px;
	}
}



.block{
	@apply flex   self-stretch items-center justify-center overflow-hidden gap-[88px] px-[32px] py-[48px] rounded-[6px]  border border-solid border-[#e6e6e6];

	>div{
		max-width: 404px;
	}
	@media (max-width:1000px) {
		>div{
			align-self: center;
			width: 100%;
			max-width: 100%;
		}
		flex-direction: column;
		padding: 0;
		border: none;
		align-items: center;
		gap: 24px;
		>div:first-child{
			@apply p-[16px] rounded-[6px] border border-solid border-[#e6e6e6];
			gap: 24px;
			.button_personal{
				width: 100%;
			}
		}
	}
}


.group{
	@apply flex  items-center self-stretch flex-wrap  gap-[24px];
	@media (max-width:$media-screen) {
		gap: 16px;
	}

	@media (max-width:$media-screen) {
		flex-direction: column;

		&:nth-child(n+4) {
			display: none;
		}
	}
}