@import '@/ui/vars-and-utils.scss';

.body{
	display: flex;
	align-items: center;
	gap: 10px;
	width: fit-content;

	&:hover{
		.text{
			color: black;
			text-shadow: 0.5px 0px 0px black;
			&::after{
				width: 100%;
			}
		}
	}
}

.circle{
	background-color: #00B2C8;
	border-radius: 50%;
	width: 27px;
	aspect-ratio: 1/1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text{
	line-height: 100%;
	transition: 0.1s;
	&::after{
		transition: 0.3s;
		margin-top: 6px;
		content: '';
		display: block;
		background: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		width: 30px;
		height: 1px;
	}
}