@import '@/ui/vars-and-utils.scss';



.main{
	padding-top: adaptive($width_container, 40, 32);
	h1{
		font-size: adaptive($width_container, 40, 24);
		display: flex;
		align-items: start;
		justify-content: end !important;
		text-align: end;
	}
}

.our_products{
	margin: $interval_sections 0px 60px 0px;
	gap:  adaptive($width_container, 40, 32);
	display: flex;
	flex-direction: column;
	.image{
		display: flex;
		justify-content: start;

		@media(max-width: $media_screen) {
			order: 5;
		}
	}
	.section_inner{
		> div,p,h1,h2,h3,h4,h5,h6 {
			text-align: end;
			justify-content: end;
		}
	}
	> div:first-child{
		text-align: center;
		padding: 16px 0px;
		@media(max-width: $media_screen) {
			background-color: #00B2C8;
			p, h2{
				color: #ffffff;
			}
			h2{
				font-weight: 500;
			}
		}
	}
}

.section_wrapper{
	position: relative;
	width: 100%;
	padding-top: adaptive($width_container, 40, 32);
	padding-bottom: adaptive($width_container, 40, 0);
	display: grid;
	grid-template-columns: repeat(auto-fit, adaptive($width_container, 528, 300));
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	h1{
		&::after{
			content: ' quickly';
			color: #00B2C8;
		}
	}

	@media (max-width: $media_screen) {
		justify-content: center;
    // * {
		// 	justify-content: center;
    //   text-align: center;
		// 	align-items: center;
    // }
  }

	h1{
		&::after{
			content: ' quickly';
			color: #00B2C8;
		}
	}
}

.image{
	display: flex;
	justify-content: end;
	position: relative;
	z-index: 1;

	img{
		max-width: fit-content;
		min-width: 100px;
		object-fit: contain;
	}
}

.functions{
	position: relative;
	height: 155px;
	margin: $interval_sections 0px;

	.functions__container{
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
		height: 100%;
	}

	> img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 0;
	}

	.functions__item{
		position: relative;
		display: flex;
		gap: 10px;
		flex: 0 0 auto;
		justify-content: center;
		height: fit-content;
		align-items: center;
		img{
			width: 42px;
		}
	}

	@media (max-width: $media_screen) {
		border: 1.5px solid transparent;
		border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 178, 200, 0.3) 53.5%, rgba(0, 0, 0, 0) 100%);
		border-image-slice: 1;
		background-color: #F7FDFD;

		> img{
			display: none;
		}

		.functions__item{
			text-align: center;
			top: 0px !important;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			flex: 1 1 auto;
		}

		.functions__container{
			align-items: center;
			flex-direction: row-reverse;
		}
	}
}

.functions__item:first-child{
	top: 37px;
}

.functions__item:nth-child(2){
	top: 81px;
}

.functions__item:last-child{
	top: 37px;
}

._dApp{
	margin-top: $interval_sections;
	margin-bottom: $interval_sections;
	padding-top: 0px;
	padding-bottom: 0px;
	justify-content: center;
	> img{
		width: 100%;
		position: absolute;
		bottom: 0px;
		z-index: -1;
		display: flex;
		align-items: center;
		height: 327px;
	}

	.image{
		justify-content: center;
	}

	.section_inner{
		padding-top: adaptive($width_container, 80, 40);
		h2, p{
			color: #ffffff;
		}
	}
	@media(min-width: $media_screen) {
		.image{
			img{
				height: 100%;
			}
		}
	}

	@media(max-width: $media_screen) {
		.section_inner{
			opacity: 0.8;
			h2{
				margin-bottom: 10px;
			}
		}
		background: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		> img {
			display: none;
		}
		.image{
			order: 1;
		}
	}
}

.buttons{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 10px;
	
	.applications{
		display: inline-flex;
		max-width: 100%;
		flex: 1 1 auto;
		justify-content: center;

		.google_play {
			position: relative;
			bottom: 9px;
		}
		.appstore {
			position: relative;
			bottom: 12px;
		}
	}

	button{
		height: 41px;
	}


	.register{
		border: 3px solid #ffffff;
		border-radius: 4px;
		padding-left: 12px;
		padding-right: 12px;
		color: #ffffff;
		flex: 1 1 auto;
		transition: 0.3s;

		&:hover{
			background-color: #9ae7ee;
			color: #030303;
			border: 3px solid #9ae7ee;
		}
	}
}


	.affiliate_program{
		display: flex;
		flex-direction: column;
		gap: adaptive($width_container, 56, 40);

		> div:first-child{
			margin-top: 40px;
		}
	}

.affiliate_program__body{
	display: flex;
	justify-content: center;
	gap: adaptive($width_container, 80, 32);
	flex-wrap: wrap;

	img{
		width: adaptive($width_container, 140, 120);
	}
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 1 1 250px;
}


.posts{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: adaptive($width_container, 56, 40);
	margin-top: $interval_sections;
	margin-bottom: $interval_sections;
	> div:first-child{
		margin-top: 40px;
	}
}
.posts__body{
	display: flex;
	justify-content: center;
	gap: adaptive($width_container, 18, 40);
	flex-wrap: wrap;

	.post__image{
		aspect-ratio: 282/128;
		background-color: #82D3DD;
		width: 100%;
		max-width: 282px;
	}

	.posts__text{
		margin-top: 18px;
		font-size: 20px;
		font-weight: 400;
	}
}


.image{
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;

	img{
		max-width: 100%;
		min-width: 100px;
		object-fit: cover;
	}
}


.carousel{
	@apply w-full flex-1 self-stretch max-w-xs;
	div{
		justify-content: start !important;
		align-items: start !important;
		text-align: center !important;
	}
	>div{
		height: adaptive($width_container, 50, 30);
		>div{
			margin-top: 0;
			height: adaptive($width_container, 50, 30);
		}
		div{
			padding-left: adaptive($width_container, 4, 0);
			padding-right: adaptive($width_container, 4, 0);
		}
	}
}


.carousel_content{
	height: adaptive($width_container, 50, 30);
	>div{
		height: adaptive($width_container, 50, 30);
		>div{
			div{
				height: adaptive($width_container, 50, 30) !important;
				align-items: center !important;
				span{
					font-size: adaptive($width_container, 40, 24);
					user-select: none;
				}
			}
		}
	}
}


.info{
	@apply flex;
	align-items: end !important;
	>div{
		align-self: auto !important;
	}
	> h1{
		line-height: adaptive($width_container, 50, 30);
		text-align: end !important;
	}
}