@import '@/ui/vars-and-utils';

.button{
	>button{
		&:after{
			content: url(../../../ui/icons/pdf.svg);
			flex: 0 0 40px;
			order: -1;
			margin-right: 10px;
		}
	}
}



.check_list{
	@apply flex flex-wrap gap-6 flex-col;
}

.advantages{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	max-width: 790px;

	@media(max-width: $media_screen){
		flex-direction: column;
		max-width: 100%;
		width: 100%;
	}

	>div{
		height: fit-content;
		flex: 0 0 calc(50% - 12px);
		position: relative;
		border-radius: 6px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		overflow: hidden;

		svg{
			display: none;
		}



		.box{
			@apply flex gap-[12px] items-center justify-between flex-1;

			.text{
				color: #000000;
				text-wrap: wrap;
				flex: 1 1 auto;
				text-align: start;
				font-weight: 300;
			}

			&::after{
				display: none;

				@media(max-width: 1000px){
					filter: contrast(0);
					transition: 0.2s;
					display: flex;
					justify-content: end;
					opacity: 0.9;
					content: url(../../../ui/icons/triangle_blue.svg);
				}
			}
		}
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
		@media(max-width: $media_screen){
			flex: 1 1 auto;
		}

		&:before{
			content: '';
			border-radius: 4px;
			background-color: #fff;
			border: 1px solid #cecece;
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
		}

		&:after{
			content: '';
			background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
			z-index: -2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}


	> [data-state="open"] {
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

		.box{
			&::after{
				filter: contrast(1);
				transform: rotate(-180deg);
				opacity: 1;
			}
		}

		&:before{
			margin: 2px;
			border: none;
		}
	}
}



.advantages_hover{
	// display: flex;
	// flex-wrap: wrap;
	// gap: 24px;
	// max-width: 790px;

	// @media(max-width: $media_screen){
	// 	flex-direction: column;
	// 	max-width: 100%;
	// 	width: 100%;
	// }

	>div{
	// height: 100px;
	// flex: 0 0 calc(50% - 12px);
	// width: 100%;
	// position: relative;
	// border-radius: 6px;
	// box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

	svg{
		display: none;
	}
	}


	// .accordion_box{
	// 	display: inline-block;
	// 	.popup{
	// 		position: absolute;
	// 		top: 100%;
	// 		width: 100%;
	// 		z-index: 100;
	// 		opacity: 0;
	// 		visibility: hidden;
	// 		-webkit-transition: max-height 1s; 
  // -moz-transition: max-height 1s; 
  // -ms-transition: max-height 1s; 
  // -o-transition: max-height 1s; 
  // transition: max-height 1s;  
  // background: #e5feff;
  // overflow: hidden;
  // max-height: 0;
	// 	}
	// 	>div{
	// 		padding: 16px 14px;
	// 		cursor: pointer;
	// 		border: 1px solid #000000;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		width: 100%;
	// 		height: 100px;
	// 		overflow: hidden;
	// 		transition: 0.3s;

			
	// 	}


	// 	.popup{
	// 		-webkit-transition: background .1s linear;   
	// 		-moz-transition: background .1s linear;   
	// 		-ms-transition: background .1s linear;   
	// 		-o-transition: background .1s linear;   
	// 		transition: background .1s linear;   
	// 		background: #00b8c9;
	// 		border-radius: 3px;
	// 		color: #fff;
	// 		display: block;
	// 		font-size: 30px;
	// 		margin: 0 0 10px;
	// 		padding: 10px;
	// 		text-align: center;
	// 		text-decoration: none;
			
	// 		&:hover{
	// 			background: darken(#00b8c9, 15%);
	// 		}
			
	// 	}
	// }
}




.roadmap{
	@media(max-width: $media_laptop){
		>img{
			display: none;
		}
	}
}

.list_wrapper{
	display: flex;
	gap: 24px;

	@media(max-width: $media_laptop){
		flex-direction: column;
	}
}

.list{
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1 1 calc(33.33% - 48px);
	border-radius: 6px;
	padding: 32px 24px;
	border: 1px solid #cecece;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	&:first-child{
		border: 1px solid #00b2c8;
	}
	div {
		align-items: start;
	}
	p{
		text-wrap: wrap;
		font-size: 14px;
	}
	.title{
		font-size: 20px;
		font-weight: 400;
	}
}

.card_wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(248px, 4fr));
	gap: 24px;
}

.card{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	text-align: center;

	border: 1.50px solid #c5c5c5;
	border-radius: 6px;
	padding: 24px 16px 50px 16px;
	color: #000000;

	.card__title{
		font-size: 16px;
	}

	.card__text{
		font-size: 14px;
	}

	&:first-child{
		transform: translate(0, 42px);
	}
	&:last-child{
		transform: translate(0, 42px);
	}

	@media(max-width: $media_laptop){
		&:first-child{
			transform: translate(0, 0);
		}
		&:last-child{
			transform: translate(0, 0);
		}
	}

}


.blue{
	position: relative;

	@media(max-width: $media_laptop){
		display: none;
	}
	color: #fff;
}


.excellent{
	margin: 0 auto;
	margin-top: adaptive($width_container, 15, 24);
	margin-bottom: adaptive($width_container, 48, 24);
}



.line{
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: -1;
	transform: translate(0px, 50%);
	transform: translateY(-50%);

	@media(max-width: $media_laptop){
		display: none;
	}
}
.press{
	display: flex;
	column-gap: 43px;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	align-items: center;
	margin-top: adaptive($width_container, 33, 24);

	@media(max-width: $media_screen){
		flex-direction: column;
		gap: 43px;
	}
}

.accordion{
	width: 100%;
	position: relative;
	>img{
    position: absolute;
    top: 0;
    left: 0;
		transform: translate(0px, -50%);
    width: 100%;
		z-index: -50;
  }
	
	@media(max-width: 1000px){
		display: none;
	}
}

.accordion_lg{
	display: none;
	@media(max-width: 1000px){
		display: block;
	}
}