@import '@/ui/vars-and-utils';

.button{
	>button{
		&:after{
			content: url(../../../ui/icons/pdf.svg);
			flex: 0 0 40px;
			order: -1;
			margin-right: 10px;
			position: relative;
    	z-index: 2;
		}
	}
}



.check_list{
	@apply flex flex-wrap gap-6 flex-col;
}

.advantages{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	max-width: 790px;

	@media(max-width: $media_screen){
		flex-direction: column;
		max-width: 100%;
		width: 100%;
	}

	>div{
		height: fit-content;
		flex: 0 0 calc(50% - 12px);
		position: relative;
		border-radius: 6px;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
		overflow: hidden;

		svg{
			display: none;
		}



		.box{
			@apply flex gap-[12px] items-center justify-between flex-1;

			.text{
				color: #000000;
				text-wrap: wrap;
				flex: 1 1 auto;
				text-align: start;
				font-weight: 300;
			}

			&::after{
				display: none;

				@media(max-width: 1000px){
					filter: contrast(0);
					transition: 0.2s;
					display: flex;
					justify-content: end;
					opacity: 0.9;
					content: url(../../../ui/icons/triangle_blue.svg);
				}
			}
		}
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
		@media(max-width: $media_screen){
			flex: 1 1 auto;
		}

		&:before{
			content: '';
			border-radius: 4px;
			background-color: #fff;
			border: 1px solid #cecece;
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 0;
		}

		&:after{
			content: '';
			background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
			z-index: -2;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}


	> [data-state="open"] {
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

		.box{
			&::after{
				filter: contrast(1);
				transform: rotate(-180deg);
				opacity: 1;
			}
		}

		&:before{
			margin: 2px;
			border: none;
		}
	}
}



.advantages_hover{



	>div{
	

	svg{
		display: none;
	}
	}


	
}




.roadmap{
	@media(max-width: $media_laptop){
		>img{
			display: none;
		}
	}
}

.list_wrapper{
	display: flex;
	gap: 24px;

	@media(max-width: $media_laptop){
		flex-direction: column;
	}
}

.list{
	display: flex;
	flex-direction: column;
	gap: 16px;
	flex: 1 1 calc(33.33% - 48px);
	border-radius: 6px;
	padding: 32px 24px;
	border: 1px solid #cecece;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	&:first-child{
		border: 1px solid #00b2c8;
	}
	div {
		align-items: start;
	}
	p{
		text-wrap: wrap;
		font-size: 14px;
	}
	.title{
		font-size: 20px;
		font-weight: 400;
	}
}

.card_wrapper{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(248px, 4fr));
	gap: 24px;
}

.card{
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	text-align: center;

	border: 1.50px solid #c5c5c5;
	border-radius: 6px;
	padding: 24px 16px 50px 16px;
	color: #000000;

	.card__title{
		font-size: 16px;
	}

	.card__text{
		font-size: 14px;
	}

	&:first-child{
		transform: translate(0, 42px);
	}
	&:last-child{
		transform: translate(0, 42px);
	}

	@media(max-width: $media_laptop){
		&:first-child{
			transform: translate(0, 0);
		}
		&:last-child{
			transform: translate(0, 0);
		}
	}

}


.blue{
	position: relative;

	@media(max-width: $media_laptop){
		display: none;
	}
	color: #fff;
}


.excellent{
	margin: 0 auto;
	margin-top: adaptive($width_container, 15, 24);
	margin-bottom: adaptive($width_container, 48, 24);
}



.line{
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: -1;
	transform: translate(0px, 50%);
	transform: translateY(-50%);

	@media(max-width: $media_laptop){
		display: none;
	}
}
.press{
	display: flex;
	column-gap: 43px;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	align-items: center;
	margin-top: adaptive($width_container, 33, 24);

	@media(max-width: $media_screen){
		flex-direction: column;
		gap: 43px;
	}
}

.accordion{
	width: 100%;
	position: relative;
	>img{
    position: absolute;
    top: 0;
    left: 0;
		transform: translate(0px, -50%);
    width: 100%;
		z-index: -50;
  }
	
	@media(max-width: 1000px){
		display: none;
	}
}

.accordion_lg{
	display: none;
	@media(max-width: 1000px){
		display: block;
	}
}

.card_image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 1 1 236px;
	max-width: 236px;
	@media(max-width: 600px){
		max-width: 400px;
		flex: 1 1 auto;
	}
}

.posts__body{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: adaptive($width_container, 18, 40);
	flex-wrap: wrap;
	align-self: stretch;
	width: 100%;
	gap: adaptive($width_container, 74, 40);

	@media(max-width: 600px){
		flex-direction: column;
	}

	.posts_title{
		@apply text-[18px] text-center text-black;
		margin-top: 10px;
		font-weight: 400;
	}

	.post__image{
		aspect-ratio: 1/1;
		background-color: #82D3DD;
		width: 100%;
		border-radius: 19px;
		overflow: hidden;
	}

	.posts__text{
		@apply text-[16px] text-center text-black;
		margin-top: 10px;
	}
}


.check_list{
	@apply flex flex-wrap gap-6 flex-col;
}


.collage{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	align-self: stretch;
}



.collage_top{
	display: flex;
	gap: 20px;
	width: 100%;
	flex: 1 1 100%;

	>div:first-child{
		flex: 1 1 auto;
		width: 100%;
		max-width: 470px;
	}
	>div:nth-child(2){
		flex: 0 0 270px;
		width: 270px;
		aspect-ratio: 270/320;
	}
	>div:last-child{
		max-width: 385px;
	}
	p{
		text-wrap: wrap;
	}
	@media(max-width: 900px){
		flex-wrap: wrap;
		justify-content: center;

		>div:first-child{
			max-width: 100%;
			flex: 1 1 100%;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			.typography{
				flex: 1 1 100%;
				>div{
					text-align: center;
					align-items: center;
					p{
						max-width: 550px;
					}
				}
			}
		}
	}

}

.typography{
	align-items: center;
	>div{
		max-width:100%;
		text-wrap: wrap;
		text-align: start;
	}
	
}


.collage_bottom{
	display: flex;
	gap: 20px;
	width: 100%;
	flex: 1 1 100%;
	align-self: stretch;

	>div:first-child{
		flex: 0 0 270px;
		width: 270px;
		aspect-ratio: 270/320;
	}
	@media(max-width: 900px){
		flex-wrap: wrap;
		justify-content: center;
		>div:last-child{
			order: -1;
		}
	}
}


.collage_img{
	flex: 1 1 auto;
	align-self: stretch;
	background-color: #82D3DD;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	@media(max-width: 900px){
		width: auto;
		max-width: none !important;
		flex: 1 1 auto;
		align-self: stretch;
		aspect-ratio: auto !important;
		height: 300px;
		min-width: 300px !important;
		max-width: 528px !important;

		height: 260px;
		min-width: 260px !important;
		max-width: 400px !important;
	}
	@media(max-width: 600px){
		width: auto !important;
		flex: 1 1 auto !important;
	}
}


.pdf{
	@apply flex gap-[24px];
	flex-wrap: wrap;
	max-width: 586px;

	>div{
		flex: 1 1 auto;
		flex-basis: calc(50% - 12px);
		
	}

	@media(max-width: 930px){
		justify-content: center;
		align-self: stretch;
		width: 100%;
		max-width: 100%;
	}
	@media(max-width: $media_screen){
		flex-direction: column;
		>div{
			flex-basis: 100%;
		}
	}
}

.legal{
	@apply flex self-stretch  justify-between gap-[48px];

	@media(max-width: 930px){
		flex-direction: column;
		>div:first-child{
			text-align: center;
		}
	}
}