@import '@/ui/vars-and-utils.scss';

.inner{
	display: flex;
	gap: 24px;
	padding-top: 47px;
	padding-bottom: adaptive($width_container, 128, 96);
	width: 100%;

	>div:last-child{
		width: 282px;
	}

	@media(max-width:$media_laptop) {
			flex-direction: column;
			>div:last-child{
				width: auto;
				display: grid;
				position: relative;
				grid-template-columns: 1fr 1.5fr;
				grid-template-rows: auto;
				gap: 24px;
				>div{
					grid-column: 2;
				}

				>div:nth-child(2){
					position: absolute;
					top: 0;
					left: 0;
					width: 40%;
					grid-column: 1;
					grid-row: 1 / -1;
					border: none;
				}
			}
	}

	@media(max-width:$media_screen) {
		>div:last-child{
			display: flex;
			flex-direction: column;
			width: 100%;
	
			>div:nth-child(2){
				position: static;
				width: auto;
				@apply border border-[#e6e6e6] border-solid;
			}
		}
	}	
	

}

.main{
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.progress{
	max-width: 291px;
	flex: 1 1 auto;

	@media(max-width:568px) {
		display: none;
	}

	div{
		border-radius: 6px;
		height: 6px;
		div{
			background: linear-gradient(-48.33deg, #01b091 5.18%, #00b2c8 100%);
		}
	}
}

.counters{
	display: flex;
	gap: 17px;
	flex-wrap: wrap;

	.add{
		@apply flex  items-center h-[88px] px-[16px] justify-center border-dashed rounded-[6px] border-[#d9d9d9] border-[1px];
		transition: 0.2s;
		cursor: pointer;
		>div{
			filter: brightness(0);
			opacity: 0.4;
		}

		&:hover{
			border-color: #00b2c8;

			>div{
				filter: brightness(1);
				opacity: 1;
			}
		}

		flex: 1 1 88px;
		@media(max-width:$media_screen) {
			display: none;
		}
	}

	.counter{
		@apply flex  items-center justify-between w-[282px] border-solid h-[88px] overflow-hidden rounded-[6px] border-[#d9d9d9] border-[1px];
		.icon{
			filter: brightness(0);
			opacity: 0.3;
		}
		>div:last-child{
			>div{
				p{
					line-height: 200%;
				}
				&:hover{
					background-color: #e4fafc;
					font-weight: 500;
				}
			}
		}
		&:hover{
			border-color: #00b2c8;
			div{
				border-color: #00b2c8;
			}
			.icon{
				filter: brightness(1);
				opacity: 1;
			}
		}

		@media(max-width:$media_screen) {
			flex-direction: column-reverse;
			height: auto;
			flex: 1 1 211px;

			>div:first-child{
				padding: 16px;
			}

			>div:last-child{
					border-bottom: 1px solid #d9d9d9;
					flex-direction: row;
					width: 100%;
					height: 44px;
					>div{
						width: 50%;
						height: auto;
						border: none;
						&:last-child{
							border-left: 1px solid #d9d9d9;
						}
					}
			}
		}
	}
}


.sidebar{
	@apply flex flex-col     w-[282px] gap-[24px];

	@media(max-width:$media_laptop) {
		display: none;
	}
}


.number{
	@apply flex items-center justify-center w-[32px] h-[32px] bg-[#a1aebe] relative;
	flex: 0 0 32px;
	border-radius: 50%;
	
	p{
		position: relative;
		z-index: 1;
		font-weight: 400;
	}

	&:before{
		content: '';
		position: absolute;
		background-color: #fff;
		left: 2px;
		bottom: 2px;
		top: 2px;
		right: 2px;
		border-radius: 50%;
	}
}

.pagination{
	@apply w-[10px] bg-[#d9d9d9];
	transition: 0.2s;

	&.active{
		@apply bg-[#00b2c8];
	}
}

.image{
	@apply opacity-30  rounded-[10px] bg-[#82d3dd];
	aspect-ratio: 282/165;
	width: 100%;
}

.tab{
	@apply text-[12px] relative;
	line-height: 200%;
	cursor: pointer;
	transition: 0.1s;
	user-select: none;
	&.active{
		@apply  text-[#00b2c8];
		font-weight: 500;

		&::before{
			transition: 0.1s;
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			height: 2px;
			background: linear-gradient(-48.33deg, #01b091 5.18%, #00b2c8 100%);
		}
	}
}

.chart{
	padding: 0 !important;
}

.buttons{
	@apply flex justify-center items-center gap-[12px];
	@media(min-width:1321px) {
		display: none;
	}
}

.list{
	@apply flex flex-wrap justify-center bg-[#f3fbfc];

	@media(max-width:1355px) {
		text-align: center;
		>div{
			width: 162px;
		}
		>div{
			&:last-child{
				flex-direction: row;
				width: auto;
				>div{
					width: 162px;
				}
				@media(max-width:1320px) {
					flex-direction: column;
				}
				@media(max-width:568px) {
					flex-direction: row;
				}
			}
		}
	}

	@media (max-width: $media-screen) {
		div{
			padding-left: 16px;
			padding-right: 16px;
			width: auto !important;
		}
		div{
			width: 50%;
			flex: 1 1 50%;
		}
	}
}

.card_item{
	@apply flex gap-[40px] justify-center;

	@media(max-width:1320px) {
		flex-wrap: wrap;
	}

	@media(max-width:420px) {
		>div{
			&:nth-child(2){
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}
}


.buttons_list{
	@apply flex justify-end items-center gap-[12px];

	@media(max-width:1320px) {
		display: none;
	}
}


.statistics{
	@apply flex flex-col overflow-hidden px-[24px] gap-[24px] py-[40px] rounded-[6px] border-solid bg-white border border-[#e6e6e6];

	@media (max-width: $media-screen) {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-top: 24px;
	}
}

.progress_activities{
	flex: 1 1 auto;
	display: none;

	@media(max-width:$media-screen) {
		display: block;
	}

	div{
		border-radius: 6px;
		height: 6px;
		div{
			background: linear-gradient(-48.33deg, #01b091 5.18%, #00b2c8 100%);
		}
	}
}


.available{
	@apply flex items-center uppercase justify-center h-[300px] p-[16px];

	@media(max-width:$media-screen) {
		height: 85px;
	}
}


.new_plan{
	@apply flex flex-col justify-center items-center w-full gap-[16px] p-[16px] rounded-[6px]  border border-[#cecece] border-dashed;
	cursor: pointer;
		>div{
			filter: brightness(0);
			opacity: 0.4;
		}
		p{
			color: #cecece;
			transition: 0.2s;
		}

		&:hover{
			border-color: #00b2c8;
			p{
				color: #00b2c8;
			}
			>div{
				filter: brightness(1);
				opacity: 1;
			}
		}
}


.trading{
	@apply flex  items-center gap-[24px] p-[22px] rounded-[6px];
	>div:last-child{
		filter: brightness(0);
	}
	&:hover{
		>div:last-child{
			filter: brightness(1);
		}
	}

	position: relative;
	overflow: hidden;
	font-weight: 400;
	font-size: 20px;

	&:before{
		content: '';
		@apply border border-solid border-[#e6e6e6];
		border-radius: 4px;
		background-color: #fff;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 1px;
	}

	&:after{
		content: '';
		border-radius: 4px;
		background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
	}
}

.get_bonus{
	@apply flex justify-center items-center  flex-shrink-0 px-2 py-1 rounded border-2 cursor-pointer border-solid border-white;
	transition: 0.1s;
	&:hover{
		font-weight: 500;
	}
}


.help{
	@apply flex justify-center flex-1 items-center gap-[8px] px-[8px] py-[4px] rounded-[4px] border-solid border border-[#00b2c8];
	position: relative;
	cursor: pointer;

	&:before{
		content: '';
		background-color: #fff;
		border-radius: 2px;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-left: 3px;
		transition: all 0.2s;
	}

	&:after{
		content: '';
		border-radius: 2px;
		background-color: #00B2C8;
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
		&:before{
			background-color: #e4fafc;
		}
	}
	>svg{
		flex: 0 0 auto;
	}
}


.start{
	@apply flex justify-center flex-1 items-center gap-[8px] px-[8px] py-[4px] border-solid rounded-[4px] border border-[#00b2c8];

	position: relative;
	cursor: pointer;


	&:before{
		content: '';
		background-color: #fff;
		border-radius: 2px;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-right: 3px;
		transition: all 0.2s;
	}

	&:after{
		content: '';
		border-radius: 2px;
		background-color: #00B2C8;
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
		&:before{
			background-color: #e4fafc;
		}
	}

	>svg{
		flex: 0 0 auto;
	}
}

.p{
	@apply text-[16px];
	cursor: pointer;
	width: 100%;
	align-self: stretch;

	>a{
		display: block;
	}
	&::before{
		content: '';
	}

	@media(min-width:$media_tablet) {

		&:hover{
			>a{
				display: none;
			}
			&::before{
				content: '$ 0.00';
			}
		}
	}

	
	@media(max-width:$media_tablet) {

		&.active{
			>a{
				display: none;
			}
			&::before{
				content: '$ 0.00';
			}}
	}

}




.accordion{ 
	@apply flex flex-col gap-[8px];
  width: 100%; 
	position: relative;
	overflow: hidden;
  
  &.active{
    .accordion_content{
      max-height: 1100px;
			opacity: 1;
			visibility: visible;
    }

		.accordion_header{
			opacity: 0;
			visibility: hidden;
		}
  
  }
}

.accordion_content{
  -webkit-transition: max-height 1s; 
  -moz-transition: max-height 1s; 
  -ms-transition: max-height 1s; 
  -o-transition: max-height 1s; 
  transition: max-height 1s visibility 0.3s;  
  overflow: hidden;
  max-height: 104px;
	opacity: 0;
	visibility: hidden;
}

.accordion_inner{
  padding: 0 15px;
}

.accordion_header{
	@apply flex flex-col gap-[16px];
  opacity: 1;
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.3s;
	>a{
		display: block;
		background: darken(#00b8c9, 15%);
		height: 200px;
	}
}


.accordion_toggle{
	@apply flex flex-col justify-center items-center py-[8px];
	border-radius: 6px;
	cursor: pointer;
	
	&:hover{
		background-color: #e4fafc;
	}
	>p{
		&::before{
			content: 'Expand';
			transition: 0.3s;
		}
	}
	>div{
		transform: rotate(-180deg);
	}
	&.active{
		>p{
			&::before{
				content: 'Collapse';
			}
		}
		>div{
			transform: rotate(0deg);
		}
	}
}

.accordion_item{
	@apply flex  items-center gap-[8px] px-[16px] py-[8px] rounded-[6px] cursor-pointer;
	position: relative;
	transition: 0.2s;
	.item_title{
		@apply text-[14px]  font-[400];
		transition: 0.2s;
	}
	.item_text{
		@apply text-[12px];
		transition: 0.2s;
		padding-right: 10px;
	}
	.number{
		transition: all 0.2s;
		&::before{
			transition: all 0.2s;
		}
	}
	&::before{
		transition: 0.2s;
	}
	&:hover{
		&::before{
			content: url('../../../ui//icons/polygon_gradient.svg');
			position: absolute;
			right: 6px;
			top: 50%;
			transform: translate(0px, -50%);
		}
		@apply bg-[#e4fafc];
		.item_title{
			@apply text-[#00b2c8];
		}
		.item_text{
			@apply text-black;
		}
		.number{
			background: linear-gradient(312deg, #01b091 0%, #00b2c8 100%);
			&::before{
				background-color: #e4fafc;
			}
		}
	}
}

.trigger{
	button{
		@apply flex flex-col gap-[8px];
		>svg{
			display: none !important;
		}
		align-items: end;
	}
	p{
		text-decoration: none !important;
	}
	text-decoration: none !important;
}


.content{
	padding: 0px;
	border-radius: 6px;
	overflow-x: auto;
	@apply border border-solid border-[#e6e6e6];
}

.button_border{
	@apply flex items-center justify-center gap-[32px];
	>button{
		@apply text-[14px] text-center text-[#303030];
		height: 28px;
	}
	padding: 32px 16px;
}

.button_borders{
	@apply flex items-center justify-center gap-[32px];
	>button{
		@apply text-[14px] text-center text-[#303030];
		height: 28px;
	}
	padding: 32px 16px;
	>button:first-child{
		opacity: 0.6;
	&:not([disabled]):hover {
				&:after{
					opacity: 0;
				}
		}
	}
	
}

.tablerow:last-child{
	>td{
		border-bottom: none !important;
	}
}

.button_blue{
	height: 36px;
	padding-right: 12px;
	padding-left: 12px;
	border: 1px solid #00B2C8;
	border-radius: 4px;
	display: flex;
	align-items: center;
	transition: all 0.2s;
	color: #FFFFFF;
	background: #00B2C8;
	position: relative;
	z-index: 100;
	font-size: 16px;
  margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	&:before {
    border-radius: inherit;
		background: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
    content: '';    
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: all 0.2s;

  }
  
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}


.list_top{
	@apply flex justify-between items-center self-stretch    rounded-[6px];

	>div{
		border-right: 1px solid #E6E6E6;
		flex: 1 1 auto;
		align-self: stretch;
		display: flex;
		align-items: center;
		padding: 0 6px;
		gap: 8px;
		flex: 1 1 auto;
	}
	>div:first-child{
		padding-left: 0px;
		justify-content: start;
	}

	@media (max-width:1274px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;

		>div{
			border-top: 1px solid #E6E6E6;
			border-right: none;
			padding-top: 16px;
			padding-bottom: 16px;
			text-align: center;
			gap: 8px;
		}

		>div:first-child{
			padding-right: 6px;
			padding-top: 6px;
			justify-content: center;
			border-top: none;
			grid-column: 1 / -1;
		}
		
		>div:nth-child(5){
			grid-row: 2;
		}
		>div:nth-child(6){
			grid-row: 2;
		}

		>div:nth-child(3){
			grid-row: 4;
			grid-column: 2;
		}
		>div:nth-child(4){
			grid-row: 4;
			grid-column: 1;
		}

		>div:nth-child(2){
			grid-row: 3;
			grid-column: 1 / -1;
			border-top: none;
		}
	}
}

.list_bottom{
	@apply flex justify-between items-center self-stretch;

	>div{
		padding: 0 6px;
	}
	>div:first-child{
		padding-left: 0;
	}
	>div:last-child{
		padding-right: 0;
		cursor: pointer;

		.arrow{
			filter: brightness(0);
			opacity: 0.2;
			user-select: none;
			transform: rotate(-180deg);
		}
		&:hover{
			.arrow{
				filter: brightness(1);
				opacity: 1;
			}
			p{
				text-decoration: underline;
			}
		}
	}


	@media (max-width:1274px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;

		>div{
			border-top: 1px solid #E6E6E6;
			border-right: none;
			align-items: center;
			padding-top: 16px;
			padding-bottom: 16px;
			gap: 8px;
		}

		>div:last-child {
			grid-column: 1 / -1;
			button{
				align-items: center;
			}
		}
	}
	
}
.cards{
	display: flex;
	flex-direction: column;
	gap: adaptive($width_container, 40, 24);

	@media (max-width:1274px) {
		>div:last-child{
			display: none;
		}
	}
}

.card{
	@apply flex flex-col  gap-[24px] p-[24px] rounded-[6px] border-solid border border-[#cecece];

	@media (max-width:1274px) {
		padding: 16px;
		gap: 0px;
	}
}

.progress{
	max-width: 104px;
	flex: 1 1 auto;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;

	div{
		border-radius: 6px;
		height: 6px;
		div{
			background: linear-gradient(-48.33deg, #01b091 5.18%, #00b2c8 100%);
		}
	}
}
