@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@import '@/ui/vars-and-utils.scss';


*{
  padding:0;
  margin:0;
  border:0;
}
*,*:before,*:after{
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing: border-box;
}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}

nav,footer,header,aside{display:block}

div{
  transition: 0.2s;
}

html,body{
  height:100%;
  width:100%;
  font-size:18px;
  line-height: percent(18, 24);
  -ms-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  font-weight: 300;
}
input,button,textarea{font-family:inherit;}

input:-ms-clear{display:none;}
button{cursor:pointer;background-color: inherit; font-size: inherit; font-weight: inherit; text-wrap: nowrap; transition: all 0.2s;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
a{color: inherit;}

h1,h2,h3,h4,h5,h6{
  font-size: 100%;
  line-height: percent(40, 48);
  font-weight: 400;
}
img{pointer-events: none;}


body{
  font-family: 'Sofia Pro', sans-serif;
  background-color: #ffffff;
  color: #303030;
  min-width: 340px;

}

.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.inner_auth{
  display: flex;
  @media(max-width:$media_tablet) {
		display: block;
	}
}

._container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: #{$width_container + px};
  margin: 0 auto;
}

main{
  flex: 1 1 auto;
}

.main{
  display: flex;
  flex-direction: column;
  gap: $interval_sections;
  padding-top: adaptive($width_container, 70, 32);
  padding-bottom: 96px;
}

.main_auth{
  flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: adaptive($width_container, 40, 24);
  padding-top: 47px;
	padding-bottom: adaptive($width_container, 128, 96);
}


[data-radix-popper-content-wrapper] {
  transition: all 0s !important;
}




.slider {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.slides {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slide {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: lightgray;
}


.accordion{ 
  display: inline-block;
  position: relative;
  z-index: 7;
  border-radius: 6px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;

  &:before{
    content: '';
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #cecece;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    transition: margin 0.25s !important;
  }
  
  &:after{
    content: '';
    background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover{
    position: relative;
    z-index: 8;
    .accordion-content{
      -webkit-transition: max-height 2s; 
      -moz-transition: max-height 2s; 
      -ms-transition: max-height 2s; 
      -o-transition: max-height 2s; 
      transition: max-height 2s;  
      max-height: 300px;
      @apply pb-[32px] pt-0 px-[14px];
    }


      &:before{
        margin: 2px;
        border: none;
    }
  }
}

.accordion-content{
  overflow: hidden;
  font-size: 16px;
  max-height: 0;
  position: relative;
  z-index: 6;
  transition: padding 0s;
}

.accordion-inner{
  position: relative;
  z-index: 6;
}

.accordion-toggle{
  height: 74px;
  color: #000;
  @apply flex text-lg gap-[12px] px-[14px] py-[16px] items-center justify-between flex-1;
  >a{
    position: relative;
    z-index: 3;
    text-wrap: wrap;
    flex: 1 1 auto;
    text-align: start;
    
  }
  >img{
    position: relative;
    z-index: 3;
  }
}

.accordion_body{
  display: flex;
	gap: 24px;
  flex-wrap: wrap;
  max-width: 790px;
  margin: 0 auto;
  position: relative;

  z-index: 1000;

	@media(max-width: $media_screen){
		flex-direction: column;
		max-width: 100%;
		width: 100%;
	}
}

.accordion_wrapper{
  height: 74px;
  width: 100%;
  flex: 0 0 calc(50% - 12px);
  display: inline-block;
  box-shadow: 0px 0px 4.3px 0 rgba(0,0,0,0.1);
  border-radius: 6px;
}


