@import '@/ui/vars-and-utils.scss';

.breadcrumb{
	display: none;
	@media (max-width:$media_laptop) {
		display: block;
	}
	ol{
		justify-content: start;
	}
	li{
		font-size: 12px;
	}
}

.statistics{
	@apply flex self-stretch gap-[24px];

	@media (max-width:$media_laptop) {
		flex-wrap: wrap;
	}
	@media (max-width:629px) {
		column-gap: 16px;
		>div{
			@apply px-[8px];
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: calc(50% - 8px);
			>div{
				>p{
					font-size: 12px;
				}
			}
		}
		
	}
}

.stats{
	@apply flex flex-col justify-center gap-[16px] px-[16px] py-[8px] rounded-[6px];
	overflow: hidden;
	flex: 1 1 auto;

	@apply border border-solid border-[#e6e6e6];

}


.list{
	@apply flex justify-center items-center gap-[8px] flex-wrap;
}
.line{
	@apply w-[25px] h-[2px];
}

.button_border{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 12px;
	height: 36px;
	gap: 16px;
	position: relative;
	overflow: hidden;
	font-weight: 400;
	font-size: 12px;
	border-radius: 5px;

	&:before{
		content: '';
		border: 1px solid #00b2c8;
		border-radius: 4px;
		background-color: #fff;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 2px;
	}

	&:after{
		content: '';
		border-radius: 4px;
		background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
	}

	.circle{
		font-size: 11px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #ECECEC;
		color: black;
		line-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.card{
	@apply flex flex-col flex-grow flex-shrink justify-center items-center self-stretch overflow-hidden gap-[32px] rounded-[6px] border-solid border border-[#cecece];

	padding: adaptive($width_container, 24, 16);
}

.copy{
	@apply flex w-full items-center rounded-[6px] overflow-hidden;
	border: 1px solid #cecece;
	p{
		word-break: break-all;
	}
}

.block{
	@apply flex   self-stretch   gap-[24px];

	>div:last-child{
		max-width: 449px;
	}

	@media (max-width:969px) {
		flex-direction: column-reverse;
		>div:last-child{
			max-width: 100%;
			padding: 16px;
		}
	}
}


.button_blue{
	@apply  text-[14px]  uppercase text-white flex items-center justify-center px-[16px] self-stretch bg-[#00b2c8];


		display: flex;
		align-items: center;
		transition: all 0.2s;
		background: #00B2C8;
		position: relative;
		z-index: 100;
		font-size: 20px;
	
		&:before {
			border-radius: inherit;
			background: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
			content: '';    
			display: block;
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			opacity: 0;
			width: 100%;
			z-index: -100;
			transition: all 0.2s;
	
		}
		
		&:hover {
			&:before {
				opacity: 1;
			}
		}
}


.save{
	@apply flex w-full items-center border-[1px] border-solid border-[#cecece] overflow-hidden rounded-[6px];
	>div:last-child{
		flex: 0 0 auto;
	}
	p{
		word-break: break-word;
		overflow-wrap: break-word;
		padding: 8px 16px;
		flex: 1 1 auto;
		text-align: center;
	}
}

.table{
	@apply flex self-stretch gap-[24px];
	>div{
		padding: 0px;
		border-radius: 6px;
		border: 1px solid #cecece;
		overflow: hidden;
	}
	@media(max-width:1000px) {
		flex-direction: column;
		>div:last-child{
			max-width: 100%;


		}
	}
}

.available{
	@apply flex items-center uppercase justify-center h-[300px] p-[16px];
	width: 100% !important;
	flex: 1 1 auto !important;
}

.upliner{
	@apply flex max-w-[856px] justify-center items-center px-[24px] py-[32px] rounded-[6px] border-solid border border-[#cecece] self-stretch   overflow-hidden gap-[32px];

	>img{
		flex: 0 0 259px;
		margin-top: -25px;
	}

	@media(max-width:$media-screen) {
		flex-direction: column;
		padding: 16px;
	}
}

.title{
	@apply text-[16px] uppercase text-[#828282] font-[400];

	@media(max-width:$media-screen) {
		text-align: center;
	}
}


.buttons_border{
	@apply flex items-center justify-center gap-[32px] px-[8px] py-[32px];
	>button{
		@apply text-[14px] text-center text-[#303030];
		height: 28px;
		&:after{
			opacity: 0;
		}
	}
	>button:first-child{
		opacity: 0.6;
		&:not([disabled]):hover {
				&:after{
					opacity: 0;
				}
		}
	}
	
}


.right{
	@apply overflow-x-auto;

	tr{
		height: 68px;
	}

	tr:last-child{
		
		td{
			border-bottom: none !important;
		}
	}
}