@import '@/ui//vars-and-utils.scss';


.auth{
	display: flex;
	gap: adaptive($width_container, 16, 12);
	align-items: center;

	@media (max-width: $media_tablet) {
		flex-direction: row-reverse;

		.lang{
			display: none;
		}
	}
	
}


.trigger{
	@apply w-[36px] h-[36px] cursor-pointer overflow-hidden rounded-[10px] border-solid border border-[#e6e6e6] relative;

	&:hover{
		@apply  border-[#b6b6b6];
	}

	&.active{
		z-index: 501;
		@apply  border-[#b6b6b6];
	}
}