@import '@/ui/vars-and-utils.scss';

.top{
	display: flex;
	flex-direction: column;
	gap: adaptive($width_container, 96, 24);
	padding-top: adaptive($width_container, 80, 60);
}

.main{
	width: 100%;
  display: flex;
  flex-direction: column;
	align-items: center;
  padding-bottom: adaptive($width_container, 96, 70);
}

.background{
	@apply absolute top-0 left-0 right-0 z-[-1] mt-[-50px] mx-auto;

	img{
		width: 100%;
	}

	@media(max-width: $media-screen) {
		margin-top: 0px;
	}
}

.list{
	display: grid;
	grid-template-columns: repeat(auto-fit, 357px);
	justify-content: center;
	column-gap: adaptive($width_container, 48, 30);
	row-gap: adaptive($width_container, 90, 30);
	width: 100%;
	margin-bottom: adaptive($width_container, 96, 60);
}

.breadcrumb{
	margin-top: 96px;
	margin-bottom: 96px;
}