@import '@/ui/vars-and-utils.scss';

.breadcrumb{
	display: none;
	@media (max-width:$media_laptop) {
		display: block;
	}
	ol{
		justify-content: start;
	}
	li{
		font-size: 12px;
	}
}

.button{
	flex: 0 0 auto;
	width: 100%;
	>button{
		height: 36px !important;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}

.button_personal{
	flex: 0 0 auto;
	>button{
		height: 36px !important;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}

.input{
	@apply flex flex-col self-stretch flex-grow gap-[16px];
	flex: 0 0 auto;
	flex-basis: calc(50% - 12px);
	input{
		text-align: center;
	}
}

.languages{
	>div{
		margin: 0;
		height: 40px;
	}
	@media (max-width:$media-screen) {
		order: -1;
	}
}

.button_border{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 16px;
	height: 40px;
	gap: 16px;
	position: relative;
	overflow: hidden;
	font-weight: 300;
	font-size: 14px;
	border-radius: 5px;
	flex: 0 0 auto;

	&:before{
		content: '';
		border: 1px solid #e6e6e6;
		border-radius: 4px;
		background-color: #fff;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 2px;
	}

	&:after{
		content: '';
		border-radius: 4px;
		background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
	}
}

.cards{
	@apply flex self-stretch flex-wrap gap-[32px];

	>div{
		flex: 1 1 300px;
	}
}

.personal{
	@apply flex items-center self-stretch gap-[24px];
	>div:first-child{
		flex: 1 1 auto;
		max-width: 383px;
		>div:last-child{
			gap: adaptive($width_container, 24, 16);
		}
	}

	>div{
		padding-left: adaptive($width_container, 32, 24);
		padding-right: adaptive($width_container, 32, 24);
	}

	@media (max-width:1000px) {
		flex-direction: column;
		>div:first-child{
			max-width: 100%;
		}
	}
}

.bottom{
	@apply flex   self-stretch justify-center overflow-hidden gap-[88px] px-[32px] py-[48px] rounded-[6px]  border border-solid border-[#e6e6e6];
	.input{
		justify-content: space-between;
	}
	.input:last-child{
		justify-content: center;
	}
	>div{
		max-width: 404px;
	}

	@media (max-width:1000px) {
		display: none;
	}
}

.ul{
	@apply text-[12px] pl-[16px];

	list-style-type: disc !important;

	li{
		list-style: disc;
	}
}