@import '@/ui/vars-and-utils.scss';

.body{
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: center;

	// > img{
	// 	height: 100%;
	// 	width: 100%;
	// 	position: absolute;
	// 	bottom: 0;
	// 	z-index: 0;
	// }

	border: 1.5px solid transparent;
	border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 79, 88, 0.3) 53.5%, rgba(0, 0, 0, 0) 100%);
	border-image-slice: 1;
	background-color: #e3fafb;

}
.body__container{
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	a:hover{
		text-decoration: underline;
	}
	
}

.list__wrapper{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 50px;
	width: 100%;
}

.list{
	min-width: 250px;
	flex: 1 0 25%;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 16px;
	justify-content: space-between;

	&:nth-child(2) {
		flex: 0 1 49%;
	}

	.title{
		font-weight: 400;
		font-size: 20px;
		color: #000000;
	}
}
.list:last-child{
	flex: 1 1 50%;
}

.contacts{
	flex: 1 0 25%;
	text-align: end;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;
	gap: 20px;

	@media(max-width: 1194px) {
		align-items: center;
	}

	a{
		display: flex;
		align-items: center;
		gap: 14px;
	}
}

.bottom{
	font-size: 16px;
	text-align: center;
}