@import '@/ui//vars-and-utils.scss';

.body{
	display: flex;
	flex-direction: column;
	gap: adaptive($width_container, 40, 24);
}


.tab{
	@apply px-[16px] flex gap-[4px] items-center font-[300] h-full text-[#4a4a4a] text-[14px];
	transition: all 0.2s;
	user-select: none;
	cursor: pointer;

	&.active{
		@apply bg-[#00B2C8] px-[16px] flex items-center font-[500] h-full text-[#fff] text-[14px] text-nowrap;
	}
}

.inner{
	display: flex;
	flex-direction: column;
	gap: adaptive($width_container, 40, 24);

		&.active{
			@media(min-width:$media_laptop) {
				display: none;
			}
		}

	@media(max-width:$media_laptop) {
		grid-template-columns: 1fr;

		&:nth-child(1){
			.item{
					&:nth-child(2){
						display: none;
					}
			}
		}

		&:nth-child(2){
			.item{
					&:nth-child(1){
						display: none;
					}
			}
		}

	}

}


.title{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	@media(max-width:$media_laptop) {
		grid-template-columns: 1fr;
	}
}


.item{
	display: flex;
	align-items: center;
	gap: 12px;
	border-radius: 6px;
	padding: 16px;
	height: 122px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;

	&:before{
		content: '';
		border-radius: 4px;
		background-color: #fff;
		border: 1px solid #cecece;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}

	&:after{
		content: '';
		background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

	}

	@media(min-width:$media_laptop) {
		height: auto;
		cursor: pointer;

		&.active{
			&:before{
				margin: 2px;
				border: none;
			}
		}
	}

	&.active{
		border-color: #01B091;
	}

	@media(max-width:$media_laptop) {
		height: auto;
	}
}

.main{
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
	border: 1px solid #cecece;
	border-radius: 6px;
	padding: adaptive($width_container, 32, 16);
	

	@media(max-width:$media_laptop) {
		border: 1px solid #cecece;
		border-radius: 6px;
	}

	>div{
		flex: 0 0 calc(50% - 16px);

		@media(max-width:$media_laptop) {
			flex: 0 0 100%;
		}
	}
}

.plans{
	display: flex;
	flex-direction: column;
	gap: 32px;

	justify-content: center;

	@media(max-width:$media_laptop) {
		flex: 0 0 100%;
	}
}

.plan__list{
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	width: 100%;
}

.plan__box{
	flex: 0 0 calc(50% - 8px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	padding: 16px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
	transition: 0.2s;
	cursor: pointer;

	p{
		@media(max-width:$media_screen) {
			display: flex;
			flex-direction: column;
		}
	}

	span{
		font-size: adaptive($width_container, 16, 14);

		@media(max-width:$media_screen) {
			flex: 0 0 100%;
		}
	}

	@media(max-width:$media_screen) {
		flex: 0 0 100%;
	}

	&:before{
		transition: 0.1s;
		content: '';
		border-radius: 4px;
		background-color: #fff;
		border: 1px solid #cecece;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}

	&:after{
		content: '';
		background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

	}
}

.plan__box.active{
	&:before{
		margin: 2px;
		border: none;
	}
}

.plan__calculation{
	.calc{
		@apply flex items-center relative justify-between text-[14px] font-[300] border-solid border-b-[1px] border-b-[#cecece];
		height: adaptive($width_container, 62, 56);

		&:last-child{
			border-bottom: none;
		}

		transform: scaleX();

		>p{
			position: relative;
		}
		span{
			position: relative;
			.span{
				@apply leading-[100%] text-[8px] flex justify-center items-center absolute w-[14px] h-[14px] bg-[#ebebeb] rounded-[50%] cursor-pointer;
	
				// bottom: 60%;
				// left: calc(100% + 7px);
			}
		}
	}

	
}

.switch{
	display: flex;
	justify-content: space-between;

	@media(max-width:$media_laptop) {
		order: -1;
		padding-bottom: 35px;
	}
}


.list{
	@apply p-[16px] bg-[#f3fbfc] border border-solid border-[#cecece];
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 14px;
	border-radius: 6px;
	gap: 20px;

	.box{
		flex: 1 0 150px;
		max-width: fit-content;
		display: flex;
		align-items: center;
		gap: 12px;

		@media(max-width:$media-screen) {
			max-width:none;
		}
	}
}

