@import '@/ui/vars-and-utils.scss';

.button_border{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 12px;
	height: 36px;
	gap: 16px;
	position: relative;
	overflow: hidden;
	font-weight: 400;
	font-size: 12px;
	border-radius: 5px;

	&:before{
		content: '';
		border: 1px solid #00b2c8;
		border-radius: 4px;
		background-color: #fff;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 2px;
	}

	&:after{
		content: '';
		border-radius: 4px;
		background-image: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		z-index: -2;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: all 0.2s;
	}

	&:hover{
		&:after{
			opacity: 1;
		}
	}

	.circle{
		font-size: 11px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #ECECEC;
		color: black;
		line-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


.body{

	@apply flex flex-col flex-shrink max-h-[90vh] overflow-hidden overflow-y-auto bg-white gap-[24px] p-[32px] rounded-[6px]  border border-solid border-[#d9d9d9];

	padding: adaptive($width_container, 32, 20);
	padding-bottom: 32px;
	position: relative;
	z-index: 100;
}


.lang{
	@apply flex justify-center items-center gap-[8px] p-[8px] rounded-[6px];

	flex: 1 1 calc(50% - 16px);
	max-width: fit-content;
	cursor: pointer;
	transition: 0.1s;

	&:hover{
		background-color: #00b2c8;
		P{
			transition: 0.1s;
			color: #fff;
		}
	}
}


.copy{
	@apply flex w-full items-center rounded-[6px] overflow-hidden;
	border: 1px solid #cecece;
	flex: 0 0 auto;
	min-height: 40px;

	p{
		word-break: break-all;
	}
}


.plan{
	@apply flex justify-center items-center text-[14px] text-[#828282] px-[16px] cursor-pointer border border-solid border-[#d9d9d9];
	user-select: none;
	flex: 0 0 25%;
	border-right: 1px solid #e6e6e6;
	text-align: center;


	&.active{
		@apply text-white font-[400] flex bg-[#00b2c8];
	}

	@media (max-width:$media_screen) {
		@apply px-[12px];
		font-size: 11px;
		&.active{
			font-size: 11px;
			font-weight: 400;
		}
	}
}


.list{
	@apply flex justify-center gap-x-[10px] gap-y-[20px] items-center  self-stretch flex-wrap;
	>div{
		flex: 1 1 auto;
		max-width: 250px;
	}
}