@import '../../ui//vars-and-utils.scss';


.body{
	height: 36px;
	width: 69px;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	border: 1px solid #CECECE;
	border-radius: 6px;
	cursor: pointer;
	margin: 0 auto;
}
