@import '@/ui//vars-and-utils.scss';

.body{
	height: 36px;
	width: 69px;
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	border: 1px solid #CECECE;
	border-radius: 6px;
	cursor: pointer;
	margin: 0 auto;
	transition: 0.2s;
	&:hover{
		background-color: #00b2c8;
		color: #fff;
	}
}


.lang{
	@apply flex justify-center items-center gap-[8px] p-[8px] rounded-[6px];
	outline: none !important;
	cursor: pointer;

	flex: 1 1 calc(50% - 16px);
	max-width: fit-content;
	// cursor: pointer;
	transition: 0.1s;

	&:hover{
		background-color: #00b2c8;
		P{
			transition: 0.1s;
			color: #fff;
		}
	}

	&.active{
		font-weight: 400;
		background-color: #00b2c8;
		opacity: 0.5;
		pointer-events: none;

		P{
			transition: 0.1s;
			color: #fff;
		}
	}
}
