@import '@/ui/vars-and-utils.scss';

.botCard{
	display: grid;
	grid-template-columns: repeat(auto-fit, 360px);
	justify-content: center;
	gap: 44px;
	width: 100%;

	@media (max-width: $media-laptop) {
		>div{
			display: none;
			&:first-child{
				display: grid;
			}
		}
	}

}

.numbers{
	@apply text-center flex justify-between items-center flex-wrap gap-[24px];

	@media (max-width: $media-screen) {
		flex-direction: column;
		justify-content: center;
	}

	h6{
		font-size: adaptive($width_container, 36, 24);
	}

	p{
		font-size: adaptive($width_container, 16, 14);
	}
}

.inner{
	&.diagram{
		@apply flex flex-col;
		gap: adaptive($width_container, 40, 24);
	}
	width: 100%;
}

.program{
	display: flex;
	justify-content: center;
	gap: adaptive($width_container, 80, 32);
	flex-wrap: wrap;

	img{
		width: adaptive($width_container, 140, 120);
	}

	.card{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		flex: 1 1 250px;
	}
	
}


.section_wrapper{
	position: relative;
	width: 100%;
	padding-top: adaptive($width_container, 40, 32);
	padding-bottom: adaptive($width_container, 40, 0);
	display: grid;
	grid-template-columns: repeat(auto-fit, adaptive($width_container, 528, 300));
	justify-content: space-between;
	align-items: center;
	gap: 40px;

	h1{
		&::after{
			content: ' quickly';
			color: #00B2C8;
		}
	}

	@media (max-width: $media_screen) {
		justify-content: center;
    * {
			justify-content: center !important;
      text-align: center !important;
			align-items: center !important;
    }
  }

	h1{
		&::after{
			content: ' quickly';
			color: #00B2C8;
		}
	}
}



._dApp{
	margin-top: 30px;
	padding: 0px;
	justify-content: center;

	> img{
		width: 100%;
		position: absolute;
		bottom: 0px;
		left: 0;
		z-index: -1;
		display: flex;
		align-items: center;
		height: 327px;
	}

	.lines{
		height: auto;
	}
	

	.image{
		justify-content: center;
	}

	.section_inner{
		padding-top: adaptive($width_container, 80, 40);
		h2, p{
			color: #ffffff;
			text-align: end;
			font-weight: 300;
		}
		p{
			font-size: 20px;
		}
	}
	@media(min-width: $media_screen) {
		.image{
			img{
				height: 100%;
			}
		}
	}

	@media(max-width: $media_screen) {
		.section_inner{
			opacity: 0.8;
			h2{
				margin-bottom: 10px;
			}
		}
		background: linear-gradient(282.54deg, #01B091 2%, #00B2C8 100%);
		> img {
			display: none;
		}
		.image{
			order: 1;
		}
	}
}

.buttons{
	font-size: 16px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: end;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 40px;

	@media(max-width: $media_screen) {
		flex-wrap: nowrap;
		column-gap:20px;
	}

	.applications{
		display: inline-flex;
		max-width: 100%;
		flex: 1 1 auto;
		justify-content: center;

		.google_play {
			position: relative;
			bottom: 9px;
		}
		.appstore {
			position: relative;
			bottom: 12px;
		}
	}

	button{
		height: 39px;
	}


	.register{
		border: 3px solid #ffffff;
		border-radius: 4px;
		padding-left: 12px;
		padding-right: 12px;
		color: #ffffff;
		transition: 0.3s;

		&:hover{
			background-color: #9ae7ee;
			color: #030303;
			border: 3px solid #9ae7ee;
		}
	}
}

.image{
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	bottom: 0;

	img{
		max-width: 100%;
		min-width: 100px;
		object-fit: cover;
		bottom: 0;
	}
}



.pagination_wrapper{
	@apply self-start flex items-center gap-[24px];
	@media (max-width:1360px) {
		align-self: center;
	}
	@media (max-width:830px) {
		align-self: start;
		>div{
			display: none;
		}
	}
}

.pagination{
	@apply w-[10px] bg-[#d9d9d9];
	transition: 0.2s;

	&.active{
		@apply bg-[#00b2c8];
	}
}


.carousel{
	@media (min-width:830px) {
		flex: 0 0 50%;
	}
	@media (min-width:1360px) {
		flex: 0 0 33.333333%;
	}
}

.carousel_container{
	width: 100%;

	@media (min-width: 830px) and (max-width: 1360px) {
    max-width: 644px;
	}
}